### Load Rust Tool Chain
. "$HOME/.cargo/env"

{{ if eq .chezmoi.os "darwin" }}
### Forbid for Reading /etc/profile
setopt no_global_rcs

### Path Helper for mac
eval "$(/usr/libexec/path_helper)"

### Homebrew
eval $(/opt/homebrew/bin/brew shellenv)
{{ end }}

### Setting autoload
autoload -Uz compinit
compinit

{{ if eq .chezmoi.os "darwin" }}
### Setting Ruby
export PATH="/opt/homebrew/opt/ruby/bin:$PATH"

{{ else if eq .chezmoi.os "linux" }}
### Load Go
export PATH="/usr/local/go/bin:$PATH"
export PATH=$HOME/.go/bin:$PATH
export GOPATH=$HOME/go
export PATH=$HOME/go/bin:$PATH

{{   if ne (env "REMOTE_CONTAINERS") "true" }}
### Load rbenv
export PATH="$HOME/.rbenv/bin:$PATH"
export PATH="$HOME/.rbenv/shims:$PATH"
eval "$(rbenv init - zsh)"

### Load nodenv
export PATH="$HOME/.nodenv/bin:$PATH"
export PATH="$HOME/.nodenv/shims:$PATH"
eval "$(nodenv init -)"

### Load pyenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

### Load poetry
export PATH="$HOME/.poetry/bin:$PATH"
{{   end }}
{{ end }}
