### Load zsh-defer
source ~/zsh-defer/zsh-defer.plugin.zsh

{{ if eq .chezmoi.os "darwin" }}
### Path Helper for mac
eval "$(/usr/libexec/path_helper)"
{{ end }}

### Load sheldon
eval "$(sheldon source)"