### Setting autoload
autoload -Uz compinit
compinit

{{ if eq .chezmoi.os "darwin" }}
### Setting Ruby
export PATH="/opt/homebrew/opt/ruby/bin:$PATH"
{{ end }}

{{- if ne (env "REMOTE_CONTAINERS") "true" }}
### Load rbenv
eval "$(rbenv init - zsh)"

### Load nodenv
eval "$(nodenv init - --no-rehash)"

### Load pyenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"
eval "$(pyenv init -)"
{{- end }}

### Load Rust Tool Chain
. "$HOME/.cargo/env"
