#!/bin/sh

{{ if eq .chezmoi.os "darwin" }}
echo "You are using macOS."
{{ else if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "alpine" }}
echo "You are using Alpine Linux."
{{   else if eq .chezmoi.osRelease.id "ubuntu" }}
echo "You are using Ubuntu."
{{   else if eq .chezmoi.osRelease.id "debian" }}
echo "You are using Debian GNU/Linux."
{{   else if eq .chezmoi.osRelease.id "fedora" }}
echo "You are using Fedora."
{{   else if eq .chezmoi.osRelease.id "centos" }}
echo "You are using CentOS."
{{   else if eq .chezmoi.osRelease.id "opensuse" }}
echo "You are using openSUSE."
{{   else }}
echo "You are using a Linux distribution that is not supported by this script."
{{   end }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
echo "You are running this Linux environment on Windows Subsystem for Linux 2."
{{   end }}
{{   if eq (env "REMOTE_CONTAINERS") "true" }}
echo "You are running this Linux environment with devcontainer."
{{   end }}
{{ end }}

