#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}

# sheldon
brew install sheldon

# starship
brew install starship

# github CLI
brew install gh

# peco
brew install peco

# exa
brew install exa

# bat
brew install bat

# procs
brew install procs

# tumx
brew install tmux

{{ else if eq .chezmoi.os "linux" -}}

# sheldon
curl --proto '=https' -fLsS https://rossmacarthur.github.io/install/crate.sh \
  | bash -s -- --repo rossmacarthur/sheldon --to ~/.local/bin

# starship
curl -fsSL https://starship.rs/install.sh | sh -s -- --yes

{{   if eq .chezmoi.osRelease.id "debian" }}

# github CLI
curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg
echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
sudo apt update
sudo apt install gh

# peco
sudo apt install -y peco

{{     if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

# Rust
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

# exa
cargo install exa

# bat
cargo install bat

# procs
cargo install procs

# fd
cargo install fd-find

# ripgrep
cargo install ripgrep

# tmux
sudo apt update
sudo apt install -y git automake bison build-essential pkg-config libevent-dev libncurses5-dev
sudo git clone https://github.com/tmux/tmux /usr/local/src/tmux
cd /usr/local/src/tmux
sudo ./autogen.sh
sudo ./configure --prefix=/usr/local
sudo make
sudo make install



# Japanese environment
wget -q https://www.ubuntulinux.jp/ubuntu-ja-archive-keyring.gpg -O- | sudo apt-key add -
wget -q https://www.ubuntulinux.jp/ubuntu-jp-ppa-keyring.gpg -O- | sudo apt-key add -
sudo wget https://www.ubuntulinux.jp/sources.list.d/focal.list -O /etc/apt/sources.list.d/ubuntu-ja.list
sudo apt update
sudo apt upgrade
sudo apt -y install ubuntu-defaults-ja
sudo apt -y install manpages-ja manpages-ja-dev

# fonts
cat << EOS | sudo tee /etc/fonts/local.conf
<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
<fontconfig><dir>/mnt/c/Windows/Fonts</dir></fontconfig>
EOS

# us-keyboard
sudo apt update
sudo apt install -y x11-xkb-utils
setxkbmap -layout us

# fcitx
sudo apt update
sudo apt install -y fcitx fcitx-mozc
sudo update-locale LANG=ja_JP.UTF8
im-config -n fcitx

{{     else }}

# exa
sudo apt install exa

# bat
sudo apt install bat

# procs
sudo apt install procs

# tmux
sudo apt install tmux

{{     end }}

# chezmoi
wget https://github.com/twpayne/chezmoi/releases/download/v2.18.1/chezmoi_2.18.1_linux_amd64.deb
sudo dpkg -i chezmoi_2.18.1_linux_amd64.deb

{{   else if eq .chezmoi.osRelease.id "debian" }}

# github CLI
curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg
echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
sudo apt update
sudo apt install -y gh

# peco
sudo apt install -y peco

# exa
sudo apt install -y exa

# bat
sudo apt install -y bat

# procs
sudo apt install -y procs

# tmux
sudo apt install -y tmux

# chezmoi
wget https://github.com/twpayne/chezmoi/releases/download/v2.18.1/chezmoi_2.18.1_linux_amd64.deb
sudo dpkg -i chezmoi_2.18.1_linux_amd64.deb

{{   else if eq .chezmoi.osRelease.id "fedora" }}

# github CLI
sudo dnf install 'dnf-command(config-manager)'
sudo dnf config-manager --add-repo https://cli.github.com/packages/rpm/gh-cli.repo
sudo dnf install gh

# exa
sudo dnf install exa

# bat
sudo dnf install bat

# procs
sudo dnf install procs

# tmux
sudo dnf install tmux

{{   else if eq .chezmoi.osRelease.id "centos" }}

# github CLI
sudo dnf install 'dnf-command(config-manager)'
sudo dnf config-manager --add-repo https://cli.github.com/packages/rpm/gh-cli.repo
sudo dnf install gh

# exa
sudo dnf install exa

# bat
sudo dnf install bat

# procs
sudo dnf install procs

# tmux
sudo dnf install tmux

{{   else if eq .chezmoi.osRelease.id "opensuse" }}

# github CLI
sudo zypper addrepo https://cli.github.com/packages/rpm/gh-cli.repo
sudo zypper ref
sudo zypper install gh

# exa
sudo zypper install exa

# bat
sudo zypper install bat

# procs


# tmux
sudo zypper install tmux


{{   else if eq .chezmoi.osRelease.id "alpine" }}

# github CLI
sudo apk add github-cli

# exa
sudo apk add exa

# bat
sudo apk add bat

# procs
sudo apk add procs

# tmux
sudo apk add tmux

{{   end }}

{{ end }}

{{ if ne (env "REMOTE_CONTAINERS") "true" }}
curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
{{ end }}
