#!/bin/sh

# Rust
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
. "$HOME/.cargo/env"

{{ if eq .chezmoi.os "darwin" -}}

# sheldon
brew install sheldon

# starship
brew install starship

# github CLI
brew install gh

# peco
brew install peco

# exa
brew install exa

# bat
brew install bat

# procs
brew install procs

# tumx
brew install tmux

{{ else if eq .chezmoi.os "linux" -}}
# sheldon
cargo install sheldon

# starship
cargo install starship

# exa
cargo install exa

# bat
cargo install bat

# procs
cargo install procs

# fd
cargo install fd-find

# ripgrep
cargo install ripgrep

{{   if eq .chezmoi.osRelease.id "alpine" }}
# zsh
sudo apk add zsh

# github CLI
sudo apk add github-cli

# tmux
sudo apk add tmux
{{   if eq .chezmoi.osRelease.id "debian" }}

# zsh
sudo apt update
sudo apt install -y zsh

# github CLI
curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg
echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
sudo apt update
sudo apt install -y gh

# peco
sudo apt install -y peco

{{     if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

# tmux
sudo apt update
sudo apt install -y git automake bison build-essential pkg-config libevent-dev libncurses5-dev
sudo git clone https://github.com/tmux/tmux /usr/local/src/tmux
cd /usr/local/src/tmux
sudo ./autogen.sh
sudo ./configure --prefix=/usr/local
sudo make
sudo make install


{{       if eq .chezmoi.osRelease.id "ubuntu" }}
# Japanese environment
wget -q https://www.ubuntulinux.jp/ubuntu-ja-archive-keyring.gpg -O- | sudo apt-key add -
wget -q https://www.ubuntulinux.jp/ubuntu-jp-ppa-keyring.gpg -O- | sudo apt-key add -
sudo wget https://www.ubuntulinux.jp/sources.list.d/focal.list -O /etc/apt/sources.list.d/ubuntu-ja.list
sudo apt update
sudo apt -y install ubuntu-defaults-ja
sudo apt -y install manpages-ja manpages-ja-dev
{{       else }}
# Japanese environment
sudo apt update
sudo apt -y install task-japanese locales-all task-japanese-desktop
localectl set-locale LANG=ja_JP.UTF-8 LANGUAGE="ja_JP:ja"
source /etc/default/locale
{{       end }}

# fonts
cat << EOS | sudo tee /etc/fonts/local.conf
<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
<fontconfig><dir>/mnt/c/Windows/Fonts</dir></fontconfig>
EOS

# us-keyboard
sudo apt update
sudo apt install -y x11-xkb-utils
setxkbmap -layout us

# fcitx
sudo apt update
sudo apt install -y fcitx fcitx-mozc dbus-x11
sudo apt -y purge ibus
sudo sh -c "dbus-uuidgen > /var/lib/dbus/machine-id"
sudo update-locale LANG=ja_JP.UTF8
im-config -n fcitx

{{     else }}

# tmux
sudo apt install -y tmux

{{     end }}

# package update
sudo apt upgrade -y

{{   else if eq .chezmoi.osRelease.id "fedora" }}

# zsh
sudo dnf -y install zsh

# github CLI
sudo dnf -y install 'dnf-command(config-manager)'
sudo dnf -y config-manager --add-repo https://cli.github.com/packages/rpm/gh-cli.repo
sudo dnf -y install gh

# tmux
sudo dnf -y install tmux

# package update
sudo dnf -y upgrade

{{   else if eq .chezmoi.osRelease.id "centos" }}

# zsh
sudo dnf -y install zsh

# github CLI
sudo dnf -y install 'dnf-command(config-manager)'
sudo dnf -y config-manager --add-repo https://cli.github.com/packages/rpm/gh-cli.repo
sudo dnf -y install gh

# package update
sudo dnf -y upgrade

# tmux
sudo dnf -y install tmux

{{   else if eq .chezmoi.osRelease.id "opensuse" }}

# tmux
sudo zypper --non-interactive install zsh

# github CLI
sudo zypper --non-interactive addrepo https://cli.github.com/packages/rpm/gh-cli.repo
sudo zypper --non-interactive ref
sudo zypper --non-interactive install gh

# tmux
sudo zypper --non-interactive install tmux

# package update
sudo zypper --non-interactive up 
{{   end }}
{{ end }}

{{ if ne (env "REMOTE_CONTAINERS") "true" }}
curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
{{ end }}
