### history
HISTFILE=$HOME/.zsh-history
HISTSIZE=100000
SAVEHIST=1000000

### share .zshhistory
setopt inc_append_history
setopt share_history

### Load starship
eval "$(starship init zsh)"

### exa config
if [[ $(command -v exa) ]]; then
  alias e='exa --icons --git'
  alias l=e
  alias ls=e
  alias ea='exa -a --icons --git'
  alias la=ea
  alias ee='exa -aahl --icons --git'
  alias ll=ee
  alias et='exa -T -L 3 -a -I "node_modules|.git|.cache" --icons'
  alias lt=et
  alias eta='exa -T -a -I "node_modules|.git|.cache" --color=always --icons | less -r'
  alias lta=eta
  alias l='clear && ls'
fi

### procs config
if [[ $(command -v procs) ]]; then
  alias ps=procs
fi

### bat config
if [[ $(command -v bat) ]]; then
  alias cat=bat
fi


{{ if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "debian" }}
### setting fcitx
export QT_IM_MODULE=fcitx
export GTK_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export DefaultIMModule=fcitx
fcitx-autostart &> /dev/null
{{   end }}
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# resolv conf
if [ -f ~/scripts/write_resolv_conf_with_dns.sh ]; then
     alias reset_resolv='wsl.exe sh -c "~/scripts/write_resolv_conf_with_dns.sh"'
fi
{{   end }}
{{ end }}
