{{ if eq .chezmoi.os "darwin" }}
# macOS
export EDITOR="code --wait" # vscode
{{ else if eq .chezmoi.os "linux" }}
# Linux
export EDITOR="vim"
{{ else }}
# other operating system
export EDITOR="vi"
{{ end }}