[git]
    autoCommit = true
    autoPush = true

{{ if eq .chezmoi.os "darwin" }}
[edit]
    command = "code"
    args = ["--wait"]
{{ else if eq .chezmoi.os "linux" }}
[edit]
    command = "vim"
{{ else }}
[edit]
    command = "vi"
{{ end }}
