[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=fcitx5
Comment=
Exec=/usr/bin/fcitx5
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
